*,*::after,*::before{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
}
/* NavBar */
#nheader, header{
    font-weight: bold;
    font-size: 1.25rem;
    padding: 10px;
    font-family: 'Courier New',sans-serif;
}
#nheader{
    padding: 20px;
    border-bottom: 2px solid black ;
}
#navbar:not(#nheader){
    overflow-y: scroll;
    overflow-x: hidden;
}
#navbar{
    position: fixed;
    min-width: 350px;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    border-right: 3px solid gray;
}
.nav-link{
    font-size: 1rem;
    font-family: sans-serif;
    color: black;
    display: flex;
    text-align: left;
    text-decoration: none;
    border-bottom: 2px solid black;
    padding: 15px;
}
/* main */
#main-doc{
    position: absolute;
    margin-top: 10px;
    margin-left: 350px;
    font-family: sans-serif;
    line-height: 1.7em;
    height: 100%;
}
p{
    padding-left: 20px;
}
ul{
    margin-left: 25px;
}
code{
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    margin-left: 30px;
    border-radius: 5px;
}
#last-line{
    padding-bottom: 40px;
}
